In [1]:
import pandas as pd

In [7]:
dados = pd.read_csv("dados/aluguel.csv", sep = ';')

In [9]:
dados.head(1)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0

In [10]:
type(dados)

pandas.core.frame.DataFrame