In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asdawdadcxawdaasdassadw'))
s

0     a
1     s
2     d
3     a
4     w
5     d
6     a
7     d
8     c
9     x
10    a
11    w
12    d
13    a
14    a
15    s
16    d
17    a
18    s
19    s
20    a
21    d
22    w
dtype: object

In [3]:
s.unique()

array(['a', 's', 'd', 'w', 'c', 'x'], dtype=object)

In [4]:
s.value_counts()

a    8
d    6
s    4
w    3
x    1
c    1
dtype: int64

In [5]:
dados = pd.read_csv('dados/aluguel.csv', sep = ';')
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [6]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64